:root {
  --avatar-size: 64px;

  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #212121;
}

.main-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 200px 0 24px 0;
}

/* Card width floating content */
.card-floating {
  --cared-size: 10px;
  --content-color: #212121;
  position: relative;
  width: max-content;
}

.card-outlined .card-body,
.card-floating .card-body {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-outlined .card-body .avatar,
.card-floating .card-body .avatar {
  height: var(--avatar-size);
  border-radius: var(--avatar-size);
  aspect-ratio: 1/1;
}

.card-outlined .card-body .card-description,
.card-floating .card-body .card-description {
  display: flex;
  flex-direction: column;
}

.card-outlined .card-body .card-description .role,
.card-floating .card-body .card-description .role {
  font-size: .75rem;
}

.card-floating .card-content {
  position: absolute;
  bottom: calc(var(--avatar-size) + var(--cared-size) + 4px);
  width: 100%;
  padding: 12px;
  font-weight: 400;
  font-size: .85rem;
  border-radius: 18px;
  background-color: var(--content-color);
  color: #fafafa;
}

.card-floating .card-content::before {
  content: "";
  position: absolute;
  bottom: calc(var(--cared-size) * -1);
  left: calc(var(--avatar-size) / 2);
  width: 0;
  height: 0;
  border-left: var(--cared-size) solid transparent;
  border-right: var(--cared-size) solid transparent;
  border-top: var(--cared-size) solid var(--content-color);
  transform: translateX(-50%);
}

.card-outlined {
  padding: 10px 18px;
  max-width: 256px;
  border: solid 2px #212121;
  border-radius: 18px;
}

.card-outlined .card-content {
  margin: 10px 0 24px 0;
}

.card-splited {
  --border-radius: 32px;
  --avatar-size: 220px;
  --star-size: 18px;
  display: flex;
  gap: 12px;
}

.card-splited .avatar {
  height: var(--avatar-size);
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
}

.card-splited .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 12px 24px;
  background-color: #212121;
  color: #fafafa;
  border-radius: var(--border-radius);
}

.card-splited .card-body .rank {
  display: inline-flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.card-splited .card-body .rank svg {
  fill: #fdd835;
  width: var(--star-size);
  height: var(--star-size);
}

.card-splited .card-body .name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 4px 0;
}

.card-splited .card-body .role {
  color: #757575
}

.card-splited .card-body .content {
  margin: 16px 0 0 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.card-big {
  --avatar-size: 82px;
  --buttons-size: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-radius: 32px;
  border: solid 2px #212121;
}

.card-big .card-content {
  font-size: 1.2rem;
  margin: 0 0 48px 0;
}

.card-big .avatars-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card-big .avatars-container .avatars {
  display: flex;
  align-items: center;
  gap: 24px;
}

.card-big .avatars-container .avatars .avatar:not(.current) {
  height: var(--avatar-size);
  border-radius: 50%;
  opacity: .4;
  aspect-ratio: 1/1;
}

.card-big .avatars-container .avatars .avatar.current {
  height: calc(var(--avatar-size) + 32px);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.card-big .avatars-container .name {
  margin: 0;
  font-weight: 400;
}

.card-big .avatars-container .avatars [class*="btn-"] svg {
  fill: currentColor;
}

.card-big .avatars-container .avatars [class*="btn-"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--buttons-size);
  height: var(--buttons-size);
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #424242;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.card-big .avatars-container .avatars [class*="btn-"]:hover {
  background-color: #e0e0e0;
}
